
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$poppins: 'poppins', sans-serif;


/* COLORS */

$color-blue-100: #5076FB;
$color-blue-200: #304DB2;

$color-dark-100: #555C76;
$color-dark-200: #30364E;
$color-dark-300: #22273A;
$color-dark-400: #1B1F2E;

$color-white: #F5F5F5;