
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$poppins: 'poppins', sans-serif;


/* COLORS */

$color-blue-100: #5076FB;
$color-blue-200: #304DB2;

$color-blue-100-opacity-20: rgba(80, 118, 251, .2);

$color-dark-100: #555C76;
$color-dark-200: #30364E;
$color-dark-300: #22273A;
$color-dark-400: #1B1F2E;
$color-dark-500: #12151f;

$color-white: #F5F5F5;
$color-light-grey: rgba(255, 255, 255, .8);
$color-grey: #828282;

$error-color: #dc3434;
$success-color: #50C594;

/* COMPONENTS  */

$header-height: 80px;