@import './variables';

.primary-btn {
  background: $color-blue-200;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border-radius: 7px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: $poppins;
}
.secondary-btn {
  background-color: $color-blue-100-opacity-20;
  border: 1px solid $color-blue-100;
  color: $color-blue-100;
  font-size: 14px;
  border-radius: 5px;
  padding: 4px 10px;
  text-align: center;
}
.tertiary-btn {
  /* border: 1px solid $color-white; */
  color: $color-white;
  font-size: 14px;
  border-radius: 5px;
  padding: 4px 10px;
}
button:disabled, button[disabled]{
  opacity: .5;
  cursor: auto;
}