@import './variables';

.component-page-component {
  
  
  
  .path {
    display: flex;
    font-size: 14px;
    a {
      color: $color-dark-100;
      &:hover {
        color: rgba(255, 255, 255, .8);
      }
    }
    span {
      margin: 0 5px;
      color: $color-dark-100;
      user-select: none;
    }
  }
  .component-container {
    display: flex;
    height: 80vh;
    margin-top: 25px;
    border: 1px solid $color-dark-100;
    border-radius: 7px;
    
    
    .folder-tree {
      width: 200px;
      height: calc(100% - 20px);
      overflow-y: auto;
      overflow-x: hidden;
      border-right: 1px solid $color-dark-100;
      padding: 10px 0;
      
      .file, .folder .data {
        display: flex;
        align-items: center;
        padding: 7px 10px !important;
        white-space: nowrap;
        font-size: 14px;
        cursor: pointer;
      }
      .file:hover, .folder .data:hover {
        background: rgba(119, 119, 119, 0.1);
      }
      .folder .file svg {
        margin-left: 15px;
      }
      svg {
        width: 20px;
        height: 20px;
        margin-right: 3px;
      }
    }
    .block-code {
      width: calc(100% - 205px);
      pre {
        background: #1B1F2E !important;
        height: calc(100% - 40px) !important;
        overflow: auto;
        padding: 20px !important;
        margin: 0 !important;
        border-radius: 7px !important;
      }
    }
    .loading {
      width: calc(100% - 205px);
    }
  }
}