@import './variables';

.component-page-component {
  .data {
    .fullname {
      font-size: 35px;
      font-weight: 700;
      color: $color-white;
    }
    .sub-data {
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
        font-size: 15px;
        color: $color-dark-100;
        p {
          margin: 0 10px;
          &:first-of-type {
            margin-left: 0;
          }
        }
      }
      .like-btn {
        display: flex;
        align-items: center;
        font-size: 15px;
        color: $color-dark-100;
        cursor: pointer;
        user-select: none;
        &.liked {
          color: $color-blue-200;
          svg {
            fill: $color-blue-200;
          }
        }
        svg {
          margin-right: 2px;
        }
      }
    }
    .download-btn {
      display: flex;
      align-items: center;
      color: $color-dark-100;
      cursor: pointer;
      transition: color .2s;
      &:hover {
        color: $color-white;
      }
      svg {
        width: 22px;
        height: 22px;
        margin-right: 3px;
      }
    }
    .description-container {
      display: flex;
      flex-direction: column;
      margin: 25px 0;
      .description {
        overflow: hidden;
        p {
          font-size: 15px;
          white-space: pre-line;
        }
      }
      .show-more {
        display: flex;
        justify-content: center;
        position: relative;
        span {
          display: flex;
          align-items: center;
          width: fit-content;
          padding-left: 10px;
          padding-right: 5px;
          color: $color-dark-100;
          font-size: 14px;
          background: $color-dark-400;
          cursor: pointer;
          z-index: 2;
          transition: color .2s;
          svg {
            fill: white;
            transform: rotate(0);
            transition: transform .4s;
          }
          &:hover {
            color: $color-white;
          }
        }
        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          position: absolute;
          bottom: 50%;
          background: $color-dark-200;
        }
        &.show-less {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
    .filters {
      display: flex;
      flex-flow: wrap;
      margin: 25px 0;
      a {
        color: $color-dark-100;
        border: 1px solid $color-dark-100;
        padding: 3px 7px;
        font-size: 14px;
        border-radius: 5px;
        margin-right: 6px;
        margin-top: 5px;
        white-space: nowrap;
        transition: color .1s, border-color .1s;
        &:hover {
          color: $color-blue-200;
          border-color: $color-blue-200;
        }
      }
    }
  }
  .component-overview {
    padding-bottom: 25px;
    .top-part {
      display: flex;
      height: 50vh;
      min-height: 400px;
      margin-bottom: 10px;
      .component-code {
        width: 60%;
        width: -webkit-fill-available;
        max-width: 60%;
        height: 100%;
        margin-top: 0;
        .folder-tree {
          width: 200px;
        }
        .block-code {
          width: calc(100% - 200px);
        }
      }
      .main-img-wrapper {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $color-dark-100;
        border-radius: 7px;
        margin-left: 10px;
        overflow: hidden;
        .main-img-container {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 0;
          border-radius: 0;
          img {
            border-radius: 0;
          }
        }
      }
    }
    .img-list-container {
      width: 100%;
      overflow: auto;
      border-radius: 7px;
      .img-list {
        display: flex;
        flex-wrap: nowrap;
        width: fit-content;
        .img-container {
          height: 90px;
          width: 150px;
          margin-bottom: 0;
          margin-right: 10px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
  .component-code {
    display: flex;
    height: 80vh;
    margin-top: 25px;
    background: $color-dark-400;
    border: 1px solid $color-dark-100;
    border-radius: 7px;
    .section-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 35px;
      background: $color-dark-200;
      font-size: 14px;
      font-weight: 500;
      padding: 0 20px;
      span {
        display: flex;
        align-items: center;
        margin-left: 5px;
        font-weight: 400;
        opacity: .4;
        font-size: 13px;
        svg {
          width: 18px;
          height: 18px;
          margin-left: 3px;
        }
      }
    }
    .folder-tree {
      position: relative;
      width: 300px;
      overflow-y: auto;
      overflow-x: hidden;
      border-right: 1px solid $color-dark-100;
      .section-title {
        position: sticky;
        top: 0;
        border-radius: 7px 0 0 0;
        z-index: 1;
      }
      
      ul {
        padding-left: 5px;
        list-style: none;
        cursor: pointer;
        li {
          position: relative;
          padding: 0 15px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          white-space: nowrap;
          color: $color-light-grey;
          font-size: 14px;
          p {
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 5px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            svg {
              width: 15px;
              height: 15px;
              margin: 0 5px;
            }
          }
          &:before {
            position: absolute;
            top: 15px;
            left: 6px;
            width: 10px;
            height: 1px;
            margin: auto;
            content: '';
            background-color: $color-dark-200;
          }
          
          &:after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 6px;
            width: 1px;
            height: 100%;
            content: '';
            background-color: $color-dark-200;
          }
          
          &:last-child:after {
            height: 15px;
          }
        }
      }
    }
    .block-code {
      width: calc(100% - 300px);
      .section-title {
        border-radius: 0 7px 0 0;
      }
      pre {
        background: #1B1F2E !important;
        height: calc(100% - 40px - 35px) !important;
        overflow: auto;
        padding: 20px !important;
        margin: 0 !important;
        border-radius: 7px !important;
        .linenumber {
          color: $color-dark-100 !important;
        }
      }
      .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 40px);
        height: calc(100% - 40px - 35px);
        padding: 20px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .code-container {
        height: calc(100%);
        position: relative;
        overflow: hidden;
        .copy-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 15px;
          right: 15px;
          background: $color-dark-300;
          border: 1px solid $color-dark-100;
          padding: 3px;
          border-radius: 5px;
          cursor: pointer;
          svg {
            width: 27px;
            height: 27px;
            color: $color-dark-100;
          }
        }
      }
    }
    .loading {
      width: calc(100% - 205px);
    }
  }
  .component-illustrations {
    display: grid;
    grid-template-columns: 224px 1fr;
    padding-bottom: 25px;
  }
  .img-list {
    height: fit-content;
    max-height: 80vh;
    background: $color-dark-500;
    border-radius: 7px;
    padding: 10px;
    overflow: auto;
    .img-container {
      width: 200px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      border: 2px solid $color-dark-200;
      border-radius: 7px;
      overflow: hidden;
      cursor: pointer;
      transition: border .1s;
      &:hover {
        border: 2px solid $color-blue-200;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .main-img-container {
    max-height: 50vh;
    margin-left: 20px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 5px;
    }
  }
}