@import './variables';

.home-component {
  display: flex;
  flex-direction: column;
  
  .filters-list {
    display: flex;
    flex-wrap: wrap;
    color: $color-dark-100;
    font-size: 14px;
    margin-bottom: 25px;
    .filter {
      height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border: 1px solid $color-dark-100;
      margin: 3px;
      padding: 1px 6px;
      border-radius: 5px;
      cursor: pointer;
      transition: color .1s, border-color .1s;
      &:hover {
        color: $color-blue-200;
        border-color: $color-blue-200;
      }
    }
  }
  
  .component-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 302px);
    grid-template-rows: repeat(auto-fill, 240px);
    grid-gap: 20px;
    justify-content: center;
    .component-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 300px;
      height: 240px;
      background: $color-dark-400;
      border: 1px solid $color-dark-200;
      border-radius: 7px;
      cursor: pointer;
      .illustration-container {
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-dark-400;
        border-radius: 7px 7px 0 0;
        overflow: hidden;
        img {
          width: 100%;
          transition: width .5s ease-out;
        }
      }
      &:hover .illustration-container img {
        width: 103%;
      }
      .fullname {
        font-weight: 500;
        font-size: 18px;
      }
      .shortname {
        font-weight: 400;
        font-size: 14px;
        color: $color-dark-100;
      }
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.2em;
      }
      .names {
        color: white;
        /* border-top:  1px solid $color-dark-200; */
        padding: 10px 12px;
        white-space: nowrap;
        .description {
          height: 3em;
          color: $color-dark-100;
          margin-top: 20px;
          font-size: 13px;
          white-space: pre;
          line-height: normal;
        }
      }
      .creator a {
        display: flex;
        align-items: center;
        margin: 0 7px;
        padding: 0 5px 10px;
        border-radius: 0 0 7px 7px;
        img {
          width: 33px;
          height: 33px;
          border-radius: 50%;
          margin-right: 10px;
        }
        .creator-names {
          overflow: hidden;
          p {
            font-size: 14px;
            color: $color-dark-100;
            font-weight: normal;
            transition: color .1s;
          }
          .shortname {
            font-size: 12px;
            opacity: .6;
          }
        }
        &:hover p {
          color: $color-white;
        }
      }
    }
  }
}