@import './variables';

.home-component {
  display: flex;
  flex-direction: column;
  .filters-container {
    display: flex;
    margin-bottom: 25px;
    .search-input {
      position: relative;
      input {
        width: 250px;
        padding: 4px 10px;
        outline: none;
        border: none;
        background: $color-white;
        border-radius: 5px;
        font-family: $poppins;
        color: $color-dark-400;
        &:read-only {
          background: $color-dark-300;
        }
      }
      span {
        display: inline-flex;
        align-items: center;
        position: absolute;
        height: 24px;
        right: 5px;
        margin: 2px 0;
        cursor: pointer;
        svg {
          color: $color-dark-100;
        }
      }
    }
    .filter-select {
      position: relative;
      width: fit-content;
      margin-left: 30px;
      .select-title {
        width: fit-content;
        display: flex;
        align-items: center;
        border: 1px solid $color-dark-100;
        border-radius: 5px;
        color: $color-light-grey;
        font-size: 15px;
        padding: 2px 7px 2px 10px;
        cursor: pointer;
        user-select: none;
        transition: background .1s;
        &.is-loading {
          background: $color-dark-300;
          color: $color-dark-100;
          border-color: $color-dark-200;
          cursor: default;
        }
        &:hover {
          background: $color-dark-300;
        }
        .triangle {
          display: flex;
          align-items: center;
          margin-left: 5px;
          transition: transform .2s ease-out;
        }
        &.opened {
          background: $color-blue-200;
          border-color: $color-blue-200;
          color: $color-white;
          .triangle {
            transform: rotate(180deg);
          }
          span {
            color: $color-white;
            opacity: 1;
          }
        }
        .filter-length {
          display: flex;
          align-items: center;
          color: $color-light-grey;
          opacity: .5;
          &::before {
            content: '';
            display: flex;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background: $color-light-grey;
            margin: 0 5px;
          }
        }
      }
      .filters-list-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(128, 128, 128, .1);
      }
      .filter-list {
        min-width: 250px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: calc(100% + 10px);
        background: white;
        border-radius: 3px;
        padding: 20px;
        box-shadow: 0 2px 8px 0 $color-dark-400;
        z-index: +1;
        .input-container {
          position: relative;
          input {
            width: calc(100% - 24px);
            outline: none;
            border: none;
            background: $color-white;
            padding: 7px 12px;
            border-radius: 4px;
            font-family: $poppins;
            color: $color-dark-400;
          }
          span {
            display: inline-flex;
            align-items: center;
            position: absolute;
            height: 24px;
            right: 5px;
            margin: 5px 0;
            cursor: pointer;
            svg {
              color: $color-dark-100;
            }
          }
        }
        .filter-option {
          display: flex;
          flex-direction: column;
          margin-top: 15px;
          .filter {
            color: $color-dark-400;
            cursor: pointer;
            padding: 5px 15px;
            border-radius: 5px;
            font-size: 15px;
            white-space: nowrap;
            user-select: none;
            &.selected {
              color: $color-blue-100;
              font-weight: 500;
            }
            &:hover {
              background: $color-white;
            }
          }
          .empty-result {
            color: $color-grey;
            user-select: none;
            font-size: 13px;
            cursor: default;
          }
        }
        .bottom-btns {
          display: flex;
          justify-content: flex-end;
          margin-top: 15px;
          span {
            color: $color-blue-200;
            margin-left: 20px;
            color: $color-blue-100;
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;
          }
          .clear-btn {
            color: rgba(128, 128, 128, .8);
            font-weight: 300;
          }
        }
      }
    }
  }
  .component-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-gap: 25px;
    justify-content: center;
    .component-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 240px;
      background: $color-dark-400;
      border: 1px solid $color-dark-200;
      border-radius: 7px;
      cursor: pointer;
      .illustration-container {
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-dark-400;
        border-radius: 7px 7px 0 0;
        overflow: hidden;
        img {
          width: 100%;
          transition: width .5s ease-out;
        }
      }
      &:hover .illustration-container img {
        width: 103%;
      }
      .fullname {
        font-weight: 500;
        font-size: 18px;
      }
      .shortname {
        font-weight: 400;
        font-size: 14px;
        color: $color-dark-100;
      }
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.2em;
      }
      .names {
        color: white;
        padding: 10px 12px;
        white-space: nowrap;
        .description {
          height: 3em;
          color: $color-dark-100;
          margin-top: 20px;
          font-size: 13px;
          white-space: pre;
          line-height: normal;
        }
      }
      .creator a {
        display: flex;
        align-items: center;
        margin: 0 7px;
        padding: 0 5px 10px;
        border-radius: 0 0 7px 7px;
        .profile-picture {
          width: 33px;
          height: 33px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .creator-names {
          width: calc(100% - 33px - 10px);
          padding-left: 10px;
          overflow: hidden;
          p {
            font-size: 14px;
            color: $color-dark-100;
            font-weight: normal;
            transition: color .1s;
          }
          .shortname {
            font-size: 12px;
            opacity: .6;
          }
        }
        &:hover p {
          color: $color-white;
        }
      }
    }
    .loading {
      position: absolute;
      width: calc(100% - 100px);
      height: calc(100% - 160px);
    }
  }
}