@import './variables';

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - #{$header-height} - 1px);
  width: 100%;
  font-size: 14px;
  color: $color-dark-100;
  &.App {
    height: 100vh;
  }
}