@import './variables';

.login-component {
  h1 {
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 25px;
    a {
      color: $color-white;
    }
  }
  .login-form {
    width: 450px;
  }
  .success-reset-password {
    width: 350px;
    height: 252px;
    padding: 50px;
    border-radius: 7px;
    background: $color-dark-300;
  }
  @media (max-width: 500px) {
    h1 {
      top: 10px;
      left: 20px;
    }
    .login-form {
      width: calc(100% - 50px);
      form {
        padding: 25px;
      }
    }
  }
  @media (max-width: 400px) {
    .login-form {
      width: calc(100% - 20px);
      form {
        padding: 15px;
      }
    }
  }
}