@import './variables';

.page-not-found-component {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-dark-100;
    font-size: 15px;
    a {
      margin-top: 15px;
    }
  }
}