.reset-password-component {
  display: flex;
  align-items: center;
  justify-content: center;
  .reset-password-form {
    width: 450px;
  }
  .auth-error {
    position: relative;
    .error-msg {
      bottom: -38px;
    }
  }
  @media (max-width: 550px) {
    .reset-password-form {
      width: 100%;
      form {
        padding: 25px;
      }
    }
  }
  @media (max-width: 400px) {
    .reset-password-form {
      form {
        padding: 15px;
      }
    }
  }
}