.reset-password-component {
  display: flex;
  align-items: center;
  justify-content: center;
  .reset-password-form {
    width: 450px;
  }
  .auth-error {
    position: relative;
    .error-msg {
      bottom: -38px;
    }
  }
}