@import './variables';

.signup-component {
  h1 {
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 25px;
    a {
      color: $color-white;
    }
  }
  .signup-form {
    width: 450px;
  }
}