@import './variables';


.skeleton-box {
  position: relative;
  overflow: hidden;
  background: $color-dark-200;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba($color-dark-100, 0) 0,
      rgba($color-dark-100, 0.3) 20%,
      rgba($color-dark-100, 0.3) 60%,
      rgba($color-dark-100, 0)
    );
    animation: loading 2s infinite;
    content: '';
  }
}

.skeleton-filter-list {
  display: flex;
  margin-bottom: 25px;
  .filter {
    width: 40px;
    height: 23px;
    background: $color-dark-200;
    margin: 0 3px;
    border-radius: 5px;
    padding: 1px 6px;
  }
}
.skeleton-component-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-gap: 25px;
  justify-content: center;
  .component {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $color-dark-300;
    border-radius: 7px;
    .illustration-container {
      height: 130px;
      border-radius: 7px 7px 0 0;
    }
    .names {
      padding: 10px;
      p {
        background: $color-dark-200;
      }
      .fullname {
        width: 200px;
        height: 20px;
        margin-bottom: 5px;
      }
      .shortname {
        width: 100px;
        height: 13px;
      }
    }
    .creator {
      display: flex;
      align-items: center;
      padding: 10px;
      .img {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background: $color-dark-200;
      }
      .fullname {
        width: 100px;
        height: 13px;
        background: $color-dark-200;
        margin-left: 10px;
      }
    }
  }
}
.skeleton-profile-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 75px 10% 100px 10%;
  .left-part {
    display: flex;
    align-items: center;
    .profile-picture {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-right: 15px;
    }
    .fullname {
      width: 200px;
      height: 20px;
      margin-bottom: 7px;
    }
    .username {
      width: 100px;
      height: 13px;
    }
  }
  .right-part {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .username {
      width: 100px;
      height: 13px;
      &:first-of-type {
        width: 150px;
        margin-bottom: 7px;
      }
    }
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}