@import './variables';


.skeleton-box {
  position: relative;
  overflow: hidden;
  background: $color-dark-200;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba($color-dark-100, 0) 0,
      rgba($color-dark-100, 0.3) 20%,
      rgba($color-dark-100, 0.3) 60%,
      rgba($color-dark-100, 0)
    );
    animation: loading 2s infinite;
    content: '';
  }
}

.home-component {
  .skeleton-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 302px);
    grid-template-rows: repeat(auto-fill, 240px);
    grid-gap: 20px;
    justify-content: center;
    .card {
      width: 302px;
      height: 242px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: $color-dark-300;
      border-radius: 7px;
      .illustration-container {
        height: 130px;
        border-radius: 7px 7px 0 0;
      }
      .names {
        padding: 10px;
        p {
          background: $color-dark-200;
        }
        .fullname {
          width: 200px;
          height: 20px;
          margin-bottom: 5px;
        }
        .shortname {
          width: 100px;
          height: 13px;
        }
      }
      .creator {
        display: flex;
        align-items: center;
        padding: 10px;
        .img {
          width: 33px;
          height: 33px;
          border-radius: 50%;
          background: $color-dark-200;
        }
        .fullname {
          width: 100px;
          height: 13px;
          background: $color-dark-200;
          margin-left: 10px;
        }
      }
    }
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}